In [1]:
import sys
import os
sys.path.insert(0, os.path.abspath('../../'))
from workshop_projects import generate_gathering_list
utils_dir = '../../utilities/'
data_dir = 'item_data/'
df_gathering_list = generate_gathering_list(
    total_csv=os.path.join(data_dir, 'odyssey_type_bladders_parts.csv'),
    recipe_book_csv=os.path.join(utils_dir, 'recipe_book.csv'),
    recipe_gathering_csv=os.path.join(utils_dir, 'recipe_gathering.csv'),
    output_csv=os.path.join(data_dir, 'gathering_list.csv')
)
df_gathering_list

,Ingredient,Total Quantity,Location Info
19,Animal Fat,81.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
20,Black Alumen,27.0,South Shroud ( 28.7 / 22.8 )
12,Bomb Ash,60.0,Southern Thanalan ( 22.2 / 29.9 )
18,Chemically Treated Chimera Hide,27.0,"Nowhere ( 0.0 / 0.0 ), Gathered by Company Wor..."
6,Cobalt Ore,207.0,Northern Thanalan ( 23.1 / 24.2 )
5,Coke,189.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
16,Dark Chestnut Log,18.0,The Dravanian Forelands ( 26.6 / 27.1 )
13,Darksteel Ore,198.0,"Coerthas Central Highlands ( 27.5 / 20.0 ), Ti..."
15,Dhalmel Hide,54.0,"The Sea of Clouds ( 17.3 / 32.2 ), Dropped by ..."
8,Earth Cluster,18.0,NaN
17,Earth Crystal,72.0,NaN
7,Fire Cluster,21.0,NaN
14,Fire Crystal,324.0,NaN
11,Fire Shard,960.0,NaN
3,Ice Cluster,12.0,NaN
10,Iron Ore,210.0,"Nowhere ( 0.0 / 0.0 ), Sold by Material Supplier"
9,Iron Ore,210.0,Western Thanalan ( 27.2 / 17.4 )
23,Lightning Cluster,9.0,NaN
0,Petrified Log,12.0,"Nowhere ( 0.0 / 0.0 ), Sold for 1500 GC Seals"
22,Potash,81.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
21,Red Moko Grass,27.0,"Nowhere ( 0.0 / 0.0 ), Collected from Company ..."
1,Scarlet Sap,12.0,"North Shroud ( 17.7 / 27.7 ), Timed at 1:00am"
4,Vivianite,27.0,"Nowhere ( 0.0 / 0.0 ), Collected from Company ..."
2,Wind Cluster,42.0,NaN

In [2]:
import sys
import os
sys.path.insert(0, os.path.abspath('../../'))
from workshop_projects import get_crafting_recipes
data_dir = 'item_data/'
df_crafting_recipes = get_crafting_recipes(os.path.join(data_dir, 'odyssey_type_bladders_parts.csv'))
df_crafting_recipes

                         Product  Required Quantity
0                 Ancient Lumber                 12
6                   Cobalt Ingot                 30
2                   Cobalt Nails                 30
3                  Cobalt Rivets                 30
8                Darksteel Ingot                 12
7               Darksteel Rivets                 42
9                Dhalmel Leather                 18
11               Farreach Canvas                  9
1                  Garlond Steel                  9
10  High Allagan Chimera Leather                  9
4                    Steel Ingot                 30
5                   Steel Rivets                 30