In [1]:
from shark_class_sub_parts import generate_gathering_list

# Generate the gathering list and save to 'gathering_list.csv'
df_gathering_list = generate_gathering_list(
    total_csv='shark_class_bridge_parts.csv',
    recipe_book_csv='recipe_book.csv',
    recipe_gathering_csv='recipe_gathering.csv',
    output_csv='gathering_list.csv'
)

df_gathering_list  # Display the gathering list

,Ingredient,Total Quantity,Location Info
8,Bomb Ash,63.0,Southern Thanalan ( 22.2 / 29.9 )
11,Cobalt Ore,78.0,Northern Thanalan ( 23.1 / 24.2 )
10,Darksteel Ingot,24.0,NaN
4,Darksteel Ore,63.0,"Coerthas Central Highlands ( 27.5 / 20.0 ), Ti..."
12,Electrum Ore,84.0,Upper La Noscea ( 30.4 / 25.4 )
5,Fire Crystal,63.0,NaN
7,Fire Shard,594.0,NaN
2,Hardened Sap,108.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
6,Iron Ingot,42.0,NaN
9,Iron Ore,165.0,Western Thanalan ( 27.2 / 17.4 )
0,Spruce Log,72.0,"Coerthas Central Highlands ( 29.5 / 13.1 ), Ti..."
3,Wind Cluster,12.0,NaN
1,Wind Crystal,72.0,NaN
13,Wind Shard,105.0,NaN

In [2]:
from shark_class_sub_parts import get_crafting_recipes

# Get the crafting recipes from total_shark_class_sub_parts.csv
df_crafting_recipes = get_crafting_recipes('shark_class_bridge_parts.csv')
df_crafting_recipes  # Display the crafting recipes list

                 Product  Required Quantity
8           Cobalt Ingot                 18
7          Cobalt Rivets                 21
6        Darksteel Ingot                 24
1       Darksteel Nugget                 21
9         Electrum Ingot                 21
2             Iron Nails                 21
3            Iron Rivets                 21
4            Steel Ingot                 21
5           Steel Rivets                 42
0  Treated Spruce Lumber                 12