In [1]:
from unkiu_class_sub_parts import generate_gathering_list

# Generate the gathering list and save to 'gathering_list.csv'
df_gathering_list = generate_gathering_list(
    total_csv='unkiu_class_pressure_hull_parts.csv',
    recipe_book_csv='recipe_book.csv',
    recipe_gathering_csv='recipe_gathering.csv',
    output_csv='gathering_list.csv'
)

df_gathering_list  # Display the gathering list

,Ingredient,Total Quantity,Location Info
20,Black Alumen,24.0,South Shroud ( 28.7 / 22.8 )
4,Bomb Ash,72.0,Southern Thanalan ( 22.2 / 29.9 )
9,Cobalt Ore,75.0,Northern Thanalan ( 23.1 / 24.2 )
8,Coke,81.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
11,Earth Cluster,9.0,NaN
21,Earth Crystal,24.0,NaN
18,Electrum Ore,96.0,Upper La Noscea ( 30.4 / 25.4 )
10,Fire Cluster,9.0,NaN
6,Fire Shard,360.0,NaN
26,Flax,36.0,South Shroud ( 17.6 / 28.6 )
29,Gelato Flesh,27.0,"Coerthas Western Highlands ( 9.4 / 18.8 ), Dr..."
15,Ice Cluster,24.0,NaN
17,Ice Shard,72.0,NaN
16,Iron Ingot,24.0,NaN
5,Iron Ore,168.0,Western Thanalan ( 27.2 / 17.4 )
24,Lightning Cluster,9.0,NaN
0,Oak Log,72.0,South Shroud ( 16.6 / 30.2 )
12,Petrified Log,24.0,"Nowhere ( 0.0 / 0.0 ), Sold for 1500 GC Seals"
23,Potash,81.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
30,Pudding Flesh,18.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
25,Raw Amber,36.0,Eastern Thanalan ( 12.7 / 19.1 )
22,Red Moko Grass,27.0,"Nowhere ( 0.0 / 0.0 ), Collected from Company ..."
13,Scarlet Sap,24.0,"North Shroud ( 17.7 / 27.7 ), Timed at 1:00am"
2,Spruce Log,72.0,"Coerthas Central Highlands ( 29.5 / 13.1 ), Ti..."
28,Terebinth,18.0,"Nowhere ( 0.0 / 0.0 ), Sold by Main City NPCs"
19,Uraeus Skin,24.0,"Nowhere ( 0.0 / 0.0 ), Found in The Wanderer's..."
7,Vivianite,27.0,"Nowhere ( 0.0 / 0.0 ), Collected from Company ..."
31,Water Crystal,27.0,NaN
27,Water Shard,144.0,NaN
14,Wind Cluster,57.0,NaN
3,Wind Crystal,72.0,NaN
1,Wind Shard,192.0,NaN

In [2]:
from unkiu_class_sub_parts import get_crafting_recipes

# Get the crafting recipes from total_unkiu_class_sub_parts.csv
df_crafting_recipes = get_crafting_recipes('unkiu_class_pressure_hull_parts.csv')
df_crafting_recipes  # Display the crafting recipes list

            Product  Required Quantity
4    Ancient Lumber                 24
8      Cobalt Ingot                 24
7    Electrum Ingot                 24
10  Farreach Canvas                  9
3     Garlond Steel                  9
5       Iron Rivets                 24
0        Oak Lumber                 24
1     Spruce Lumber                 24
2       Steel Nails                 24
6       Steel Plate                 24
9    Uraeus Leather                 24
11          Varnish                 18
12        Void Glue                  9