In [1]:
from enterprise_type_airship_parts import generate_gathering_list

# Generate the gathering list and save to 'gathering_list.csv'
df_gathering_list = generate_gathering_list(
    total_csv='enterprise_type_forecastle_parts.csv',
    recipe_book_csv='recipe_book.csv',
    recipe_gathering_csv='recipe_gathering.csv',
    output_csv='gathering_list.csv'
)

df_gathering_list  # Display the gathering list

,Ingredient,Total Quantity,Location Info
0,Bomb Ash,90.0,Southern Thanalan ( 22.2 / 29.9 )
4,Cobalt Ore,147.0,Northern Thanalan ( 23.1 / 24.2 )
7,Coke,162.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
17,Copper Ore,36.0,Central Thanalan ( 19.0 / 26.2 )
14,Darksteel Ore,108.0,"Coerthas Central Highlands ( 27.5 / 20.0 ), Ti..."
9,Earth Cluster,9.0,NaN
22,Effervescent Water,30.0,South Shroud ( 16.0 / 19.7 )
8,Fire Cluster,18.0,NaN
13,Fire Crystal,216.0,NaN
3,Fire Shard,1050.0,NaN
16,Gold Ore,108.0,"Eastern Thanalan ( 27.3 / 21.3 ), Timed at 10:..."
15,Ice Crystal,27.0,NaN
5,Ice Shard,240.0,NaN
1,Iron Ore,240.0,Western Thanalan ( 27.2 / 17.4 )
2,Iron Ore,240.0,"Nowhere ( 0.0 / 0.0 ), Sold by Material Supplier"
12,Mythril Ore,198.0,Southern Thanalan ( 25.2 / 39.9 )
10,Mythrite Ore,72.0,Coerthas Western Highlands ( 31.2 / 12.8 )
11,Mythrite Sand,90.0,Coerthas Western Highlands ( 16.6 / 13.1 )
19,Peacock Ore,162.0,"Nowhere ( 0.0 / 0.0 ), Sold for 200 GC Seals"
23,Rock Salt,30.0,Central Thanalan ( 14.5 / 22.7 )
21,Silex,30.0,Southern Thanalan ( 22.4 / 29.7 )
6,Vivianite,27.0,"Nowhere ( 0.0 / 0.0 ), Collected from Company ..."
24,Water Shard,150.0,NaN
20,Wind Cluster,18.0,NaN
18,Wind Crystal,108.0,NaN

In [2]:
from enterprise_type_airship_parts import get_crafting_recipes

# Get the crafting recipes from total_enterprise_type_airship_parts.csv
df_crafting_recipes = get_crafting_recipes('enterprise_type_forecastle_parts.csv')
df_crafting_recipes  # Display the crafting recipes list

               Product  Required Quantity
12    Clear Glass Lens                 30
2   Cobalt Joint Plate                 30
1        Cobalt Rivets                 30
7      Darksteel Ingot                  9
9      Darksteel Plate                  9
3        Garlond Steel                  9
10       Mythril Ingot                 30
8       Mythril Rivets                 30
5       Mythrite Ingot                 18
11     Rose Gold Ingot                 18
0          Steel Ingot                 30
6    Steel Joint Plate                 30
4         Steel Rivets                 30